<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">FAQ
                <small>Frequently Asked Questions</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">FAQ</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                            data-target="#collapseOne" href="">
                            How to login
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                        Click the login button in the nav bar. this will direct you to the login page. You can type in your username and password to login.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                        data-target="#collapseTwo" href="">
                        Can anyone look at jobs?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Yes anyone can.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                    data-target="#collapseThree" href="">
                   Can anyone post a job?
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                Anyone can post a job as long as they have made an account and logged in.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                data-target="#collapseFour" href="">
                How to register
            </a>
        </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body" >
            Click the register button on the top right corner and fill out the form.
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
            data-target="#collapseFive" href="">
            Can I edit a job posting?
        </a>
    </h4>
</div>
<div id="collapseFive" class="panel-collapse collapse">
    <div class="panel-body" href="">
        If it is your job posting then yes. You cannot edit anothers. To edit, login, go to My account and select My Postings. Find the posting you want to edit and click edit.
    </div>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
            data-target="#collapseSix" href="">
            Cand I delete my posting?
        </a>
    </h4>
</div>
<div id="collapseSix" class="panel-collapse collapse">
    <div class="panel-body">
        Yes you can. To delete the posting, login. After that go to My Account. Next Step is to click My Postings and find the posting you want to delete and press delete
    </div>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
            data-target="#collapseSeven" href="">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit?
        </a>
    </h4>
</div>
<div id="collapseSeven" class="panel-collapse collapse">
    <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
        probably haven't heard of them accusamus labore sustainable VHS.
    </div>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
            data-target="#collapseEight" href="">
            Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis
            vitae at risus?
        </a>
    </h4>
</div>
<div id="collapseEight" class="panel-collapse collapse">
    <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
        probably haven't heard of them accusamus labore sustainable VHS.
    </div>
</div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
            data-target="#collapseNine" href="">
            Aenean consequat lorem ut felis ullamcorper?
        </a>
    </h4>
</div>
<div id="collapseNine" class="panel-collapse collapse">
    <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
        squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
        nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
        beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
        lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
        probably haven't heard of them accusamus labore sustainable VHS.
    </div>
</div>
</div>

</div>

</div>

</div>

</div>
<!-- /.container -->