<div class = section>
	<div class="container">

        <div class="row" ng-show="!loginState.isLoggedIn">

        	<div class="col-sm-8">
            <h3>Login</h3>

            <form  ng-submit="login()" ng-controller="ContentCtrl">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Username </label>
                        <input type="text" name="username" class="form-control" required="true" ng-model="username">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Password </label>
                        <input type="password" name="password" class="form-control" required="true" ng-model="password">
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="submit" value="Login" id="submit" class="btn btn-primary"></input>
                        <a href="#/signup">Register</a>
                    </div>

                </div>
            </form>
        </div>



        </div>
     </div>
</div>