<div class="container">

    <div class="row">

        <h3>Edit Post</h3>
        <hr>

        <form  ng-submit="login()" ng-controller="ContentCtrl" >
            <div class="row">
                <div class="form-group col-lg-12 row">
                    <label for="input1">Title</label>
                    <input type="text" name="title" class="form-control" required="true" ng-model="title">
                </div>
                <div class="form-group col-lg-12 row">
                    <label for="input2">Description</label>
                    <textarea type="textarea" name="description" class="form-control scrollabletextbox"  rows="10" required="true" ng-model="description"></textarea>
                </div>
                <div class="form-group row">
                    <div class="form-group col-md-3">
                      <label for="category">Category:</label>
                      <select class="form-control" id="category">
                        <option>Other</option>
                        <option>Arts and Crafts</option>
                        <option>Design</option>
                        <option>Software</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                      <label for="assigned">Assigned</label>
                      <select class="form-control" id="assigned">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="form-group row col-md-12">
                <strong>Contact Info</strong>
            </div>

            <div class="form-group col-md-6 row" >
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" required="true" ng-model="email">
            </div>
            <div class="form-group col-md-6" >
                <label for="phoneNumber">Phone Number</label>
                <input type="text" class="form-control bfh-phone" data-format="+1 (ddd) ddd-dddd">
            </div>
            <hr>
            <div class="form-group col-lg-12 row">
                <input type="submit" value="Submit" id="submit" class="btn btn-primary"></input>
                <a href="">Cancel</a>

            </div>
        </div>
    </form>

</div>

</div>
<!-- /.container -->

